/* Front Banner Section */

.front_section{
    background: rgba(255, 144, 14, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 1080px;
}

.navbar span{
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    padding: 30px;
}
.navlist{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}
.navlist li{
    list-style: none;
    padding:0px 10px 0px 10px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

/* heading title Banner */
.title{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.title span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;

}
.explore-btn{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    background-color: #FF900E ;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    width: 150px;
    height: 55px;
}
.explore-btn:hover{
    transform: scale(1.2);
}
.banner-img{
    width:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Features Box */
.feature{
    margin: 50px 100px 0px 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.feature-img{
    display: grid;
    grid-template-columns: 
    repeat(2,1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.feature-description{
    margin: 250px 100px 200px 90px ;
    font-family: 'Work Sans';
    font-style: normal;
}
.sp-quicklist{
    font-weight: 400;
    font-size: 45px;
    color: gray;
}
.sp-ofour{
    font-weight: 700;
    font-size: 45px;
}
.sp-features{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
.feature-description p{
    font-size: 16px;
    color: grey;
}
/* Experience css */
.experience{
    margin: 50px 100px 0px 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 120px;

   
    
}
.experience-description p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: gray;
}
.para-1 span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    border-left:3px solid #FF900E;
}
.para-2 ,.para-3 ,.para-4 ,.para-5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 25px;
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.332);
} 
.experience-img img{
    height:100vh;
    position: relative;
    opacity: 0.8;
}
.experience-btn{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    background-color: #FF900E ;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    width: 220px;
    z-index: 9;
    position: absolute;
    top:375vh;
    left:750px;
}
.experience-btn:hover{
    transform: scale(1.2);
}

/* Facts */

.facts{
    width: 100%;
    height: 150px;
    margin-top: 60px;
    padding-left: 150px;
}
.facts span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}
.facts p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    width: 460px;
    height: 52px;
    color: gray;
    
}
/* Extra-section */

.extra-section{
    width: 90%;
    height: 200px;
    margin:auto;
    background-color: white;
    box-shadow: 0px 4px 4px #FF900E;
    display: grid;
    grid-template-columns:repeat(5,1fr);
    column-gap: 15px;
}
.extra-section span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px; 
}

.extra-section div{
    border: 1px solid #FF900E;
}
.news1{
    text-align: center;
}
.extra-section img{
    height: 100%;
    width:100%;
}
.extra-section img:hover{
    transform: scale(1.1);
}
/* Summary Style */

.Summary{
    display: flex;
    justify-content:space-around;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
}
.Summary div{
    border:1px solid #FF900E;
    border-radius: 5px;
    padding:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.Summary:hover .hover {
    width: 140px;
    height: 140px;
    background-color: #FF900E;
    transform: rotate(360deg);
    transition: 3s;
}
.Sponsor{
    width: 30%;
    margin: auto;
    text-align: center;
    font-family: 'Work Sans';
}
.Sponsor p{
    font-size: 13px;
    color: gray;
}

/* Sponsor Image */

.spons{
    display: flex;
    justify-content:space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}
.spons img{
    height: 30px;
    filter: grayscale(1);
}
.copyright{
    font-family: 'Work Sans';
    border: 1px solid #FFF4E7 ;
    border-radius: 8px;
    margin: auto;
    height: 60px;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFF4E7;
    color: grey;
}
